/*========== Title screen ==========*/
body {
    margin: 0em;
}
#background {
    margin: 0em;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
}
#title-screen {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
#title {
    color: gold;
    position: relative;
    top: 40vh;
    text-align: center;
    font-size: 5em;
}
#names {
    color: white;
    position: relative;
    top: 45vh;
    text-align: center;
    vertical-align: bottom;
}

/*========== Section styles ==========*/
.section {
    width: calc(100% - 40em);
    padding: 2em 20em;
}
.section:nth-of-type(even) {
    background-color: lightgray;
    color: black;
}
.section:nth-of-type(odd) {
    background-color: rgb(32, 32, 32);
    color: lightgray;
}

/*========== Text styles ==========*/

h1 {
    margin: 1em;
    font-size: 3em;
    text-align: center;
}
h2 {
    font-size: 2em;
}
p {
    text-align: justify;
    padding: 0.5em 1em;
    line-height: 1.5em;
}
.equation {
    display: block;
    padding: 1em 1em 1em 4em;
}
.fraction {
    display: inline-block;
    /* Leave space on the left and right so the bar doesn't overlap other things */
    margin: 0em 0.75em;
    line-height: 1em;
    font-size: 0.8em;
    /* Push the fraction down to match the text, then reduce the space at the
    top to move everything back up
        a           a
        —       =>  — = 1
        b = 1       b
    */
    position: relative;
    top: 0.75em;
    margin-top: -0.75em;
}
/* The bar in the middle of a fraction */
.fraction > line {
    display: block;
    /* Make the bar slightly wider than the fraction, then center it */
    width: calc(100% + 1em);
    position: relative;
    left: -0.5em;
    /* Draw the bar */
    border-bottom: 1px solid black;
}

/*========== Simulation stuff ==========*/

.legend {
    width: 5em;
    position: absolute;
    padding: 0em 0.5em;
    line-height: 2em;
    border-radius: 0.5em;
    background-color: rgba(64, 64, 64, 0.5);
    color: white;
    margin: auto;
}
.legend > content {
    display: none;
}
.legend:hover {
    background-color: rgba(64, 64, 64, 0.75);
}
.legend:hover > content {
    display: block;
}
.circle {
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-left: 0.5em;
}

/* The particle simulation */
#simulation {
    width: 100%;
    margin: auto;
}

/* Container for the options */
#sim-controls {
    margin: 0em;
    padding: 0.5em;
}
/* Option buttons for the simulation */
#sim-opts {
    float: right;
}
.sim-opt {
    display: inline-block;
}
.sim-opt-btns {
    display: inline-block;
    width: 1em;
    margin-top: -1em;
    position: relative;
    top: 0.35em;
}
.sim-opt-btns > button {
    padding: 0em;
    line-height: 0.5em;
}

/* The data table */
#sim-data {
    width: 100%;
    margin-top: 1em;
    text-align: center;
    table-layout: fixed;
}
