/*========== Title screen ==========*/
body {
    margin: 0em;
    font-family: Times;
    font-size: 1.2em;
}
.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 2em;
    margin: 0em;
    padding: 0em;
    background-color: rgba(64, 64, 64, 0.75);
    color: gold;
}
.header > li {
    display: inline-block;
    height: 100%;
}
.header > li > a {
    display: block;
    height: 100%;
    padding: 0.5em 1em;
    text-decoration: none;
}
.header > li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.header > li:hover > a {
    color: lightyellow;
}
#background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
#title-screen {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
#title {
    color: gold;
    position: relative;
    top: 40vh;
    text-align: center;
    font-size: 5em;
}
#names {
    color: white;
    position: relative;
    top: 45vh;
    text-align: center;
}

/*========== Section styles ==========*/
.section {
    width: calc(60% + 10em);
    padding: 2em calc(20% - 5em);
}
.section:nth-child(odd) {
    background-color: lightgray;
    color: black;
    border-color: black;
}
.section:nth-child(even) {
    background-color: rgb(32, 32, 32);
    color: lightgray;
    border-color: lightgray;
}

/*========== Text styles ==========*/

h1 {
    margin: 1em;
    font-size: 3em;
    text-align: center;
}
h2 {
    font-size: 2em;
}
p {
    text-align: justify;
    padding: 0.5em 1em;
    line-height: 1.5em;
}
a {
    color: inherit;
}
table {
    color: inherit;
    font-size: inherit;
    table-layout: fixed;
    margin: 1em auto;
}
th, td {
    padding: 0em 1em;
}
sup, sub {
    vertical-align: middle;
    position: relative;
}
sup {
    top: -0.4em;
}
sub {
    bottom: -0.2em;
}
.equation {
    display: block;
    text-align: center;
    padding: 1em;
}
.fraction {
    display: inline-block;
    /* Leave space on the left and right so the bar doesn't overlap other things */
    margin: 0em 0.75em;
    line-height: 1em;
    font-size: 0.8em;
    /* Push the fraction down to match the text, then reduce the space at the
    top to move everything back up
        a           a
        —       =>  — = 1
        b = 1       b
    */
    position: relative;
    top: 0.6em;
    margin-top: -0.6em;
}
/* The bar in the middle of a fraction */
.fraction > line {
    display: block;
    /* Make the bar slightly wider than the fraction, then center it */
    width: calc(100% + 1em);
    margin: 0.1em 0em;
    position: relative;
    left: -0.5em;
    /* Draw the bar */
    border-bottom: 1px solid;
}
/* RICE tables */
.rice > tbody > tr > td:nth-child(n + 2) {
    /* Center text for all columns except first */
    text-align: center;
}

/* Practice questions */
.practice {
    width: 50%;
    margin: auto;
    padding: 2em 10%;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 1em;
}
.question::before {
    content: "Pop quiz!";
    font-weight: bold;
    display: block;
}
.practice > button {
    margin: 1em 0em;
    padding: 0em;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: inherit;
}
.answer {
    display: none;
}

/* Images */
figure {
    margin: 1em;
}
figure > img {
    width: 100%;
}
figure > figcaption {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}


/*========== Simulation stuff ==========*/

.legend {
    width: 4em;
    position: absolute;
    padding: 0em 0.5em;
    line-height: 2em;
    border-radius: 0.5em;
    background-color: rgba(64, 64, 64, 0.5);
    color: white;
    margin: auto;
}
.legend > content {
    display: none;
}
.legend:hover {
    background-color: rgba(64, 64, 64, 0.75);
}
.legend:hover > content {
    display: block;
}
.circle {
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-left: 0.5em;
}

/* The particle simulation */
#simulation {
    width: 100%;
    margin: auto;
}

/* Container for the options */
#sim-controls {
    margin: 0em;
    padding: 0.5em;
}
/* Option buttons for the simulation */
#sim-opts {
    float: right;
}
.sim-opt {
    display: inline-block;
}
.sim-opt-btns {
    display: inline-block;
    width: 1em;
    margin-top: -1em;
    position: relative;
    top: 0.35em;
}
.sim-opt-btns > button {
    padding: 0em;
    line-height: 0.5em;
}

/* The data table */
#sim-data {
    width: 100%;
    margin-top: 1em;
    text-align: center;
    table-layout: fixed;
}
