h1 {
    font-size: 30px;
    color: blue;
    text-align: center;
}

p {
    text-align: justify;
}

body {
    margin: 0px;
    padding: 0px;
}

#background {
    position: absolute;
}

#content {
    width: 65%;
    margin: auto;
    padding: 50px;
    border-radius: 50px;
    background: rgba(196, 196, 196, 0.75);
    position: relative;
    z-index: 1;
}

#simulation {
    display: block;
    margin: auto;
    font-size: 30px;
    color: blue;
    width: auto;
    margin: auto;
}

#content {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: rgba(196, 196, 196, 0.5);
    border-radius: 20px;
}

.equation {
    display: block;
    padding-left: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.fraction {
    display: block;
    width: -webkit-min-content;
    width: -moz-min-content;
}

.fraction > line {
    display: block;
    height: 0.1em;
    border-bottom: 1px solid black;
}
